<%- include("../partials/header") %>
    <% for(profile of profiles) { %>
        <div>
            <h2><%=profile.name%></h2>
            <h2><%=profile.age%></h2>
            <iframe width="560" height="315" src="<%=profile.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><%=profile.description%></p>
        </div>
        <form action="/profiles/<%=profile._id%>/yes" method="POST"><input type="submit" value="YES"></form>
        <form action="/profiles/<%=profile._id%>/no" method="POST"><input type="submit" value="NO"></form>
    <% } %>
<%- include("../partials/footer") %>
